.navbar-nav .nav-link:hover:not(.disabled) {
    opacity: 0.85;
    transition: 0.2s;
}


.navbar-nav .nav-link {
    color: #fff !important;
}

.navbar-nav .nav-link:hover:not(.disabled) {
    opacity: 0.8;
}
